body{
    margin-left:20px ;
}
.msg{
background-color: dodgerblue;
color: white;
border-radius: 5px;
padding:1px 5px ;
}

.chats{
    display: inline-block;
    padding: 20px;
border-radius: 10px;
background-color: aliceblue;
}