<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h1><%= 10*10 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse libero atque quod, quasi culpa pariatur! Laboriosam, ea accusantium atque iure maxime officiis quasi, mollitia neque repellat ducimus libero? Incidunt.</p>
    <button>Click Me</button>
</body>
</html>