<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <style>
        body{
            background-color: rgb(231, 169, 169);
        }
        img{
        width: 200px;
        height: 200px;
    }
    </style>
</head>
</html>